@import url("https://fonts.googleapis.com/css?family=Ubuntu&effect=3d|3d-float|anaglyph");
@import url("https://fonts.googleapis.com/css?family=Open Sans&effect=3d|3d-float|anaglyph");
@import url("https://fonts.googleapis.com/css?family=Signika:700&effect=3d|3d-float|anaglyph");
body{
    margin: 0px;
    padding: 0px;
}

.pre-header{

  color: #fff;
  height: 50px;
  background-color: #4D698E;
}

.pre-header .slots{
  float: left;
  padding-left: 50px;
  padding-top: 10px;
  z-index: 1;
}

.pre-header .slots-text{
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;


}

.pre-header .members{
  padding-left: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}

.pre-header .sign-in{
  padding-top: 15px;
  padding-right: 50px;
  float: right;
  z-index: 2;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}

.pre-header .sign-in a{
  color: #fff;
  text-decoration: none;
}

.header{
  background-color: #F2F2F2;
  height: 90px;
  z-index: 1
}

.header img{
  float: left;
  padding-top: 20px;
  padding-left: 50px;
}

nav{
	float: right;
	z-index: 2;
}

nav ul {
    list-style-type: none;
    margin: 0;
    height: 80px;
    padding: 0;
    padding-left: 50px;
    overflow: hidden;
    padding-right: 50px;
    padding-top: 20px;

}

nav li {
    float: left;


}

nav li a {
    color: #4D698E;
    display: block;
    text-align: center;
    padding: 11px 16px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

    font-size: 20px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #4D698E;
    border-radius: 30px;
    margin-right: 10px;
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}



nav li a:link{
	text-decoration: none;
}


nav li a:hover{
	background-color: #4D698E;
	color: #fff;

}


.slider{
	height: 500px;
	background-image: url("../img/slider.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	color: white;
	text-align: center;
	z-index: 4;
}

.slider h1{
	margin-top: 0px;
	padding-top: 200px;
    font-size: 40px;
    font-weight: 700;
	font-family: 'Signika', sans-serif;
}

.slider p{
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

.shop{
    max-height: 100px;
}

.shop h1{
    margin-top: 0px;
    padding-top: 25px;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Signika', sans-serif;
}

.features-block{
	padding-top: 50px;
    margin-bottom: 50px;
}

.features{
	text-align: center;
}

.features h1{
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
}

.features p{
	font-family: 'Open Sans', sans-serif;
}

.features img{
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.offers{
    margin-top: 50px;
    text-align: center;
}

.offers p{
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
    margin-bottom: 10px;
}

.offers-item{
    margin 0px
}

.offers-item img{
    padding-top: 25px;
    display: block;
    margin: auto;
    height: 200px;
}

.offers-item h1{
    font-family: 'Signika', sans-serif;
}

.offers-item ul{
    list-style: none;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}


.btn-pricing{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    background-color: #4D698E;
    color: #ffffff;
    border: solid #4D698E 1px;
    border-radius: 5%;
    padding: 20px;
}

.btn-pricing:hover{
    background-color: #ffffff;
    color: #4D698E;
    text-decoration: none;
    transition-duration: 0.4s;
        -webkit-transition-duration: 0.4s; /* Safari */
}

.payment{
    margin-top: 10px;
    text-align: center;
}



.payment ul{
    list-style: none;
}

.payment ul li{
    display: inline;
}

.payment ul li img{
    margin: auto;
    height: 50px;
}

.connectes{
    margin-top: 50px;
}

.connectes p{
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
    margin-bottom: 10px;
    text-align: center;
}